<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item class= "background">
      <ion-label floating>Email Address</ion-label>
      <ion-input type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <!--
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    -->
    <ion-item class= "background">
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <!--
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    -->
  <ion-item no-lines class="button-background">
    <button ion-button (click)="login(user)">Login</button>
    <button ion-button (click)="register()">Register</button>
    <button ion-button (click)="skip()">Skip</button>
    <p *ngIf="loginAttempt" style="color:#FF0000;">The email address or password you have<br/>
       entered is incorrect.
       Please try again</p>
  </ion-item>
</ion-content>
