page-login {
  .background {
    background-color: #ffffff;
    color: #000000;
  }
  .validation-errors {
    color: #FF0000;
    margin-left: 15px;
  }
  .button-background {
    background-color: #ffffff;
    text-align:center;
  }
}
