page-create-profile {
  .background {
    background-color: #ffffff;
    color: #000000;
  }
  .button {
    width: 160px;
  }
  .button-background {
    background-color: #ffffff;
    text-align:center;
  }
}
