page-home {
  .btn {
    padding: 0;
    border: none;
    background: none;
  }

  .hikeName {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 7px;
  }

  .hikeInfo {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 7px;
  }

  .completed {
    text-align: right;
  }

  #progressOuter {
    width: 96%;
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 20px;
  }

  #progressInner {
    min-width: 10%;
    width: 10%;
    white-space: nowrap;
    overflow: hidden;
    padding: 3px;
    border-radius: 20px;
    background-color: map-get($colors, primary);
  }
}
