<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isSearchbarOpen">Hikes</ion-title>
    <ion-searchbar *ngIf="isSearchbarOpen" showCancelButton="true" (keyup)="onSearch($event)" (ionCancel)="isSearchbarOpen=false"></ion-searchbar>
    <ion-buttons end>
      <button ion-button ion icon icon-only *ngIf="!isSearchbarOpen" (click)="isSearchbarOpen=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card  *ngFor="let item of hikes">
    <button class="btn" (click)="btnHike()" block>
      <img [src] = "item.imgsrc" style="width : 100% ; height : 100%">
    </button>
    <ion-item>
      <ion-icon name="walk" item-start large></ion-icon>
      <div class="hikeName">{{item.hikeName}}</div>
      <div class="hikeInfo">{{item.difficulty}} </div>
      <div class="hikeInfo">{{item.distance}}</div>
    </ion-item>
  </ion-card>
</ion-content>
