page-home {
  .btn {
    padding: 0;
    border: none;
    background: none;
  }

  .hikeName {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
  }

  .hikeInfo {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
  }
}
