.mountains{
  background: color($colors, secondary);
}

.card {
  background: color($colors, secondary);
  color: #ccc;
}

.weather{
  background: color($colors, primary);
  color:color($colors, light);
  margin-top:30px;
}

.weatherbackground{
  background-color: #435d8c;
}

.toolbar-title{
  text-align: center;
}

.tabs-md .tab-button-icon{
  color: #ccc
}

.temperature{
  font-size: 40px;
  text-align: center;
}

.location, .icon, .description{
  text-align: center;
}

.icon img{
  width:75px;
}

.location{
  font-size:35px
}

.description{
  font-size: 30px
}
