page-fall-detection {
  .button {
    width: 160px;
  }
  .button-background {
    background-color: #ffffff;
    text-align:center;
  }
  .motion {
    text-align: center;
    background-color:  #FFFFFF;
  }
}
